.about {
  padding-inline: 2rem;
  padding-block: 6rem;
  background: linear-gradient(90deg, #1d1d1d 0%, #0b0b0b 100%);
}
.about__wrapper {
  width: 100%;
  max-width: 1440px;
  margin-inline: auto;
  display: flex;
  gap: 4rem;
}
.about__left,
.about__right {
  display: flex;
  align-items: center;
  flex: 1;
}
.about__left {
  display: flex;
  flex-direction: column;
}
.about__title {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 3rem;
  color: #f77f00;
  margin-bottom: 32px;
}
.about__desc {
  font-weight: 200;
  font-size: 1.25rem;
  line-height: 150%;
  text-align: justify;
}
.about__right {
  justify-content: center;
}
.about__img {
  width: 100%;
  max-width: 800px;
}
@media (max-width: 1024px) {
  .about__wrapper {
    flex-direction: column;
    text-align: center;
  }
}
@media (max-width: 480px) {
  .about__desc {
    text-align: center;
  }
}
@media (max-width: 375px) {
  .about__title {
    font-size: 2.25rem;
  }
  .about__desc {
    font-size: 1.15rem;
  }
}
